[submodule ".registry"]
	path = .registry
	url = https://github.com/davidruvolo51/universe
	branch = HEAD
[submodule "browsertools"]
	path = browsertools
	url = https://github.com/davidruvolo51/browsertools
[submodule "pkgbump"]
	path = pkgbump
	url = https://github.com/davidruvolo51/pkgbump
[submodule "rdConvert"]
	path = rdConvert
	url = https://github.com/davidruvolo51/rdConvert
[submodule "rheroicons"]
	path = rheroicons
	url = https://github.com/davidruvolo51/rheroicons
